src/main/java/si/um/feri/obu/wsservice/avtoservis2/TehnicnaPomocImpl.wsdl

<?xml version="1.0" ?><wsdl:definitions xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:tns="http://smart.road.si/pomoc" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:ns2="http://schemas.xmlsoap.org/soap/http" xmlns:ns1="http://smart.road.si/tehnicnaPomoc" name="TehnicnaPomocImplService" targetNamespace="http://smart.road.si/pomoc">
  <wsdl:types>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:tns="http://smart.road.si/tehnicnaPomoc" targetNamespace="http://smart.road.si/tehnicnaPomoc" version="1.0">

  <xs:element name="aktivacijaAvtovleke" type="tns:aktivacijaAvtovleke"></xs:element>

  <xs:element name="aktivacijaAvtovlekeResponse" type="tns:aktivacijaAvtovlekeResponse"></xs:element>

  <xs:element name="identificiranjeNapake" type="tns:identificiranjeNapake"></xs:element>

  <xs:element name="identificiranjeNapakeResponse" type="tns:identificiranjeNapakeResponse"></xs:element>

  <xs:element name="obvescanjeONapaki" type="tns:obvescanjeONapaki"></xs:element>

  <xs:element name="obvescanjeONapakiResponse" type="tns:obvescanjeONapakiResponse"></xs:element>

  <xs:element name="odpravljanjeNapake" type="tns:odpravljanjeNapake"></xs:element>

  <xs:element name="odpravljanjeNapakeResponse" type="tns:odpravljanjeNapakeResponse"></xs:element>

  <xs:complexType name="odpravljanjeNapake">
    <xs:sequence>
      <xs:element minOccurs="0" name="napaka" type="tns:napaka"></xs:element>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="napaka">
    <xs:sequence>
      <xs:element minOccurs="0" name="id" type="xs:int"></xs:element>
      <xs:element minOccurs="0" name="datum" type="xs:dateTime"></xs:element>
      <xs:element minOccurs="0" name="opis" type="xs:string"></xs:element>
      <xs:element minOccurs="0" name="IDobu" type="xs:string"></xs:element>
      <xs:element minOccurs="0" name="komanda" type="xs:string"></xs:element>
      <xs:element minOccurs="0" name="stanjeKomande" type="xs:string"></xs:element>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="odpravljanjeNapakeResponse">
    <xs:sequence></xs:sequence>
  </xs:complexType>

  <xs:complexType name="aktivacijaAvtovleke">
    <xs:sequence>
      <xs:element minOccurs="0" name="IDobu" type="xs:int"></xs:element>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="aktivacijaAvtovlekeResponse">
    <xs:sequence></xs:sequence>
  </xs:complexType>

  <xs:complexType name="obvescanjeONapaki">
    <xs:sequence></xs:sequence>
  </xs:complexType>

  <xs:complexType name="obvescanjeONapakiResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="obvestilo" type="xs:string"></xs:element>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="identificiranjeNapake">
    <xs:sequence>
      <xs:element minOccurs="0" name="napaka" type="tns:napaka"></xs:element>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="identificiranjeNapakeResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="sporocilo" type="xs:string"></xs:element>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="pregled">
    <xs:sequence>
      <xs:element minOccurs="0" name="id" type="xs:int"></xs:element>
      <xs:element minOccurs="0" name="datum" type="xs:dateTime"></xs:element>
      <xs:element minOccurs="0" name="status" type="xs:boolean"></xs:element>
      <xs:element minOccurs="0" name="napaka" type="tns:napaka"></xs:element>
      <xs:element minOccurs="0" name="IDobu" type="xs:string"></xs:element>
    </xs:sequence>
  </xs:complexType>

</xs:schema>
  </wsdl:types>
  <wsdl:message name="odpravljanjeNapake">
    <wsdl:part element="ns1:odpravljanjeNapake" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="odpravljanjeNapakeResponse">
    <wsdl:part element="ns1:odpravljanjeNapakeResponse" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="obvescanjeONapaki">
    <wsdl:part element="ns1:obvescanjeONapaki" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="obvescanjeONapakiResponse">
    <wsdl:part element="ns1:obvescanjeONapakiResponse" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="aktivacijaAvtovlekeResponse">
    <wsdl:part element="ns1:aktivacijaAvtovlekeResponse" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="identificiranjeNapakeResponse">
    <wsdl:part element="ns1:identificiranjeNapakeResponse" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="aktivacijaAvtovleke">
    <wsdl:part element="ns1:aktivacijaAvtovleke" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="identificiranjeNapake">
    <wsdl:part element="ns1:identificiranjeNapake" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:portType name="TehnicnaPomoc">
    <wsdl:operation name="odpravljanjeNapake">
      <wsdl:input message="tns:odpravljanjeNapake" name="odpravljanjeNapake">
    </wsdl:input>
      <wsdl:output message="tns:odpravljanjeNapakeResponse" name="odpravljanjeNapakeResponse">
    </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="aktivacijaAvtovleke">
      <wsdl:input message="tns:aktivacijaAvtovleke" name="aktivacijaAvtovleke">
    </wsdl:input>
      <wsdl:output message="tns:aktivacijaAvtovlekeResponse" name="aktivacijaAvtovlekeResponse">
    </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="obvescanjeONapaki">
      <wsdl:input message="tns:obvescanjeONapaki" name="obvescanjeONapaki">
    </wsdl:input>
      <wsdl:output message="tns:obvescanjeONapakiResponse" name="obvescanjeONapakiResponse">
    </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="identificiranjeNapake">
      <wsdl:input message="tns:identificiranjeNapake" name="identificiranjeNapake">
    </wsdl:input>
      <wsdl:output message="tns:identificiranjeNapakeResponse" name="identificiranjeNapakeResponse">
    </wsdl:output>
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="TehnicnaPomocImplServiceSoapBinding" type="tns:TehnicnaPomoc">
    <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"></soap:binding>
    <wsdl:operation name="odpravljanjeNapake">
      <soap:operation soapAction="http://smart.road.si/pomoc/odpravljanjeNapake" style="document"></soap:operation>
      <wsdl:input name="odpravljanjeNapake">
        <soap:body use="literal"></soap:body>
      </wsdl:input>
      <wsdl:output name="odpravljanjeNapakeResponse">
        <soap:body use="literal"></soap:body>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="aktivacijaAvtovleke">
      <soap:operation soapAction="http://smart.road.si/pomoc/aktivacijaAvtovleke" style="document"></soap:operation>
      <wsdl:input name="aktivacijaAvtovleke">
        <soap:body use="literal"></soap:body>
      </wsdl:input>
      <wsdl:output name="aktivacijaAvtovlekeResponse">
        <soap:body use="literal"></soap:body>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="obvescanjeONapaki">
      <soap:operation soapAction="http://smart.road.si/pomoc/obvescanjeONapaki" style="document"></soap:operation>
      <wsdl:input name="obvescanjeONapaki">
        <soap:body use="literal"></soap:body>
      </wsdl:input>
      <wsdl:output name="obvescanjeONapakiResponse">
        <soap:body use="literal"></soap:body>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="identificiranjeNapake">
      <soap:operation soapAction="http://smart.road.si/pomoc/identificiranjeNapake" style="document"></soap:operation>
      <wsdl:input name="identificiranjeNapake">
        <soap:body use="literal"></soap:body>
      </wsdl:input>
      <wsdl:output name="identificiranjeNapakeResponse">
        <soap:body use="literal"></soap:body>
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="TehnicnaPomocImplService">
    <wsdl:port binding="tns:TehnicnaPomocImplServiceSoapBinding" name="TehnicnaPomocPort">
      <soap:address location="http://localhost:8080/Servis2/TehnicnaPomocImpl"></soap:address>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>